@font-face {
  font-family: Nunito;
  src: url(./font/Nunito-Light.ttf);
}
* {
  font-size: 12px;
  font-family: Nunito;
}
.fa-rotate-45 {
  transform: rotate(45deg);
  position: absolute;
}
.color {
  color: #cb7adb;
}
.color1 {
  color: #f75363;
}
.cardbtn.btn {
  width: 100%;
  height: 6vh;
}
.sidecard span {
  font-size: 10px;
}

.faitems .fa {
  background-color: gray;
  border-radius: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.faitems .fa:hover {
  background-color: #e43c5c;
  /* background-color: #f3062e; */
}
.name {
  font-size: 14px;
  cursor: pointer;
}
.A {
  font-size: 13px;
}
.section {
  background-color: #181019;
}

.progress:override {
  background-color: rgba(13, 124, 228, 0.808);
}

.card {
  box-shadow: 0px 2px 10px 0px #232222;
}
.B.card {
  background-color: #150f16;
}
.lower {
  min-height: 415px;
}
.lower1 {
  max-height: 415px;
}
.minH {
  min-height: 400px;
}
.minH3 {
  min-height: 400px;
  /* max-height: 430px; */
}
.minH2 {
  min-height: 985px;
}
.height {
  height: 100%;
}
.cards {
  z-index: 1;
}
.menu_active {
  border-right: 4px solid rgb(6, 81, 219);
}
.nav-link {
  color: white;
}
.nav-link.menu_active {
  color: rgb(6, 81, 219);
}
.sticky-top {
  padding-left: -15px;
  padding-right: -15px;
}
.cards::before {
  content: "";
  position: absolute;
  background: #fdeff2;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.4s;
  z-index: -1;
  color: white;
}
.cards:hover {
  color: white;
}
.cards:hover::before {
  background: #e43c5c;
  top: 0;
}
.fa-search {
  z-index: 1;
  cursor: pointer;
}
.add {
  font-size: 17px;
}
.col-sm-auto {
  height: 100vh;
}
